/* 
  Generic
*/

body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

button {
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    text-decoration: none;
    margin: 10px 0;
    color: #fff;
    position: relative;
    display: inline-block;
    border: none;
    background-color: #2c3e50;
}

button:hover {
    background-color: #95a5a6;
}

button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

button:focus {
    outline: 0;
}

.button_cancel {
    background-color: #7f8c8d;
}

.button_cancel:hover {
    background-color: #bdc3c7;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #bdc3c7;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type=range]:hover {
    opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 3em;
    height: 3em;
    background: #2c3e50;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 3em;
    height: 3em;
    background: #2c3e50;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #bdc3c7;
    outline: none;
    opacity: 0.7;
}

input[type=range]::-ms-thumb {
    height: 3em;
    width: 3em;
    background: #2c3e50;
    cursor: pointer;
}

.dialog {
    display: block;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.dialog_card {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 50%;
}

.dialog_title {
    text-align: center;
    font-weight: bold;
}

.dialog_content {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}

.dialog_actions {
    position: absolute;
    bottom: 10px;
    right: 20px;
}


/*
  Game intro
*/

.game_intro {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #2c3e50;
    padding: 20px;
}

.game_intro_actions {
    position: absolute;
    top: 19px;
    right: 10px;
}

.game_counter {
    position: absolute;
    top: 19px;
    left: 100px;
}


/*
  Game
*/

.game_main {
    width: 90%;
    height: 90%;
    margin: auto;
    text-align: center;
    display: table;
}

.square {
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 1.25px 2.5px;
    background-color: #bdc3c7;
    animation-duration: 0.125s;
}

.square_anim {
  animation-name: square_flip
}

@keyframes square_flip {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(90deg);
  }
}

.square_anim_reverse {
  animation-name: square_flip_reverse
}

@keyframes square_flip_reverse {
  from {
    transform: rotateY(90deg);
  }

  to {
    transform: rotateY(0deg);
  }
}

.square_content {
  color: #fff;
}

.square_row {
  display: flex;
  justify-content: center;
  margin: 2.5px;
}

.square_array {
  display: table-cell;
  vertical-align: middle;
}

.revealed {
    background-color: #ecf0f1;
}

.flagged {
    background-color: #2c3e50;
}

.mine {
    background-color: #e74c3c;
}

.mine_autorevealed {
    opacity: 0.7;
}

.number_1 {
    background-color: #1abc9c;
    opacity: 0.7;
}

.number_2 {
    background-color: #3498db;
    opacity: 0.7;
}

.number_3 {
    background-color: #9b59b6;
    opacity: 0.7;
}

.number_4 {
    background-color: #16a085;
    opacity: 0.7;
}

.number_5 {
    background-color: #34495e;
    opacity: 0.7;
}

.number_6 {
    background-color: #d35400;
    opacity: 0.7;
}

.number_7 {
    background-color: #8e44ad;
    opacity: 0.7;
}

.number_8 {
    background-color: #2ecc71;
    opacity: 0.7;
}
